header {
    color: white;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.logo {
	background: url('../images/logo.png') no-repeat;
	width: 100px;
	height: 50px;
	margin-right: 20px;
	background-size: contain;
}
